<div class="owl-carousel">
  <div class="item">
    <div class="item__top">
      <a href="#" class="item__link">
        <img class="item__img" src="img/triphala.png" alt="item_img">
      </a>
    </div>
    <div class="item__bottom">
      <span class="item__title">Трифала / 60таб</span>
      <span class="item__description">Для пищеварительной системы</span>
      <div class="item__price">
        <span class="price">160грн</span>
        <span class="price old-price">230грн</span>
        <span class="percent">-20%</span>
        <button type="submit" class="item__cart">
          <span class="icon icon-cart"></span>
        </button>
      </div>
    </div>
  </div><!-- end item -->
  <div class="item">
    <div class="item__top">
      <a href="#" class="item__link">
        <img class="item__img" src="img/restone.png" alt="item_img">
      </a>
    </div>
    <div class="item__bottom">
      <span class="item__title">Рестон /100 таб.</span>
      <span class="item__description">Для сбалансированного здоровья женского организма</span>
      <div class="item__price">
        <span class="price">450грн</span>
        <span class="price old-price">540грн</span>
        <span class="percent">-20%</span>
        <button type="submit" class="item__cart">
          <span class="icon icon-cart"></span>
        </button>
      </div>
    </div>
  </div><!-- end item -->
  <div class="item">
    <div class="item__top">
      <a href="#" class="item__link">
        <img class="item__img" src="img/product_1.png" alt="item_img">
      </a>
    </div>
    <div class="item__bottom">
      <span class="item__title">Видьярти /100 таб</span>
      <span class="item__description">Тоник для нервной, иммунной систем, улучшает память</span>
      <div class="item__price">
        <span class="price">180грн</span>
        <span class="price old-price">250грн</span>
        <span class="percent">-20%</span>
        <button type="submit" class="item__cart">
          <span class="icon icon-cart"></span>
        </button>
      </div>
    </div>
  </div><!-- end item -->
  <div class="item">
    <div class="item__top">
      <a href="#" class="item__link">
        <img class="item__img" src="img/triphala.png" alt="item_img">
      </a>
    </div>
    <div class="item__bottom">
      <span class="item__title">Трифала / 60таб</span>
      <span class="item__description">Для пищеварительной системы</span>
      <div class="item__price">
        <span class="price">160грн</span>
        <span class="price old-price">230грн</span>
        <span class="percent">-20%</span>
        <button type="submit" class="item__cart">
          <span class="icon icon-cart"></span>
        </button>
      </div>
    </div>
  </div><!-- end item -->
  <div class="item">
    <div class="item__top">
      <a href="#" class="item__link">
        <img class="item__img" src="img/restone.png" alt="item_img">
      </a>
    </div>
    <div class="item__bottom">
      <span class="item__title">Рестон /100 таб.</span>
      <span class="item__description">Для сбалансированного здоровья женского организма</span>
      <div class="item__price">
        <span class="price">450грн</span>
        <span class="price old-price">540грн</span>
        <span class="percent">-20%</span>
        <button type="submit" class="item__cart">
          <span class="icon icon-cart"></span>
        </button>
      </div>
    </div>
  </div><!-- end item -->
  <div class="item">
    <div class="item__top">
      <a href="#" class="item__link">
        <img class="item__img" src="img/product_1.png" alt="item_img">
      </a>
    </div>
    <div class="item__bottom">
      <span class="item__title">Видьярти /100 таб</span>
      <span class="item__description">Тоник для нервной, иммунной систем, улучшает память</span>
      <div class="item__price">
        <span class="price">180грн</span>
        <span class="price old-price">250грн</span>
        <span class="percent">-20%</span>
        <button type="submit" class="item__cart">
          <span class="icon icon-cart"></span>
        </button>
      </div>
    </div>
  </div><!-- end item -->
</div><!-- end carousel -->