<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="col">
        <div class="logo is-footer">
          <a href="#" class="logo__link">
            <img class="logo__img" src="img/logo.png" alt="logo_bhakti_way">
            <span class="logo__name">BhaktiWay</span>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="copyright">© 2018 bhaktiway.com</div>
      </div>
      <div class="col">
        <div class="schedule">
          <span class="schedule__title">График работы:</span>
          <span class="schedule__day">Пн - Сб с 9:00 до 19:00</span>
          <span class="schedule__day">Воскресенье - выходной</span>
        </div>
      </div>
      <div class="col">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__el">
              <a href="#" class="nav__link">Оплата и доставка</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Наши контакты</a>
            </li>
            <li class="nav__el">
              <a href="#" class="nav__link">Скидки</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
