<header class="header">
  <div class="header__bg"></div>
  <div class="container">
    <div class="header__wrap">
      <div class="header__top">
        <div class="header__left">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__el">
                <a href="index.html" class="nav__link">Главная</a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">Скидки</a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">Оплата и доставка</a>
              </li>
              <li class="nav__el">
                <a href="#" class="nav__link">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__center">
          <div class="logo">
            <a href="index.html" class="logo__link">
              <img class="logo__img" src="img/logo.png" alt="logo_bhakti_way">
              <span class="logo__name">BhaktiWay</span>
            </a>
          </div>
        </div>
        <div class="header__right">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__el">
                <a class="nav__link" href="#">
                  <span class="icon icon-phone"></span>
                  <span>(050)823-03-24</span>
                </a>
              </li>
              <li class="nav__el">
                <a class="nav__link" href="#">
                  <span class="icon icon-viber"></span>
                  <span>(093)877-33-41</span>
                </a>
              </li>
              <li class="nav__el">
                <a class="nav__link" href="mailto:bhaktiway@ukr.net">
                  <span class="icon icon-mail"></span>
                  <span>Почта</span>
                </a>
              </li>
              <li class="nav__el">
                <a class="nav__link" href="#">
                  <span class="icon icon-facebook"></span>
                  <span>Фейсбук</span>
                </a>
              </li>
            </ul>
          </nav>
        </div><!-- end header__right -->
      </div><!-- end header__top -->
      <div class="header__bottom">
        <div class="main-search">
          <div class="search">
            <form action="#" class="search__form">
              <input  class="search__input"
                      type="text"
                      placeholder="Поиск">
              <button class="search__btn" type="submit">
                <span class="icon icon-search"></span>
              </button>
            </form>
          </div><!-- end search -->
          <div class="cart">
            <a class="cart__link" href="#">
              <span class="icon icon-cart"></span>
            </a>
          </div>
        </div>
        <div class="hero">
          <div class="hero__top">
            <div class="top-menu">
              <ul class="top-menu__list">
                <li class="top-menu__el">
                  <span class="top-menu__name">Аювердические препараты</span>
                </li>
                <li class="top-menu__el">
                  <span class="top-menu__name">Ароматерапия</span>
                </li>
                <li class="top-menu__el">
                  <span class="top-menu__name">Травы</span>
                </li>
                <li class="top-menu__el">
                  <span class="top-menu__name">Питание</span>
                </li>
                <li class="top-menu__el">
                  <span class="top-menu__name">Книги</span>
                </li>
              </ul>
            </div><!-- end top-menu -->
          </div>
          <div class="hero__bottom">
            <div class="main-title">
              <h1>Добро пожаловать в мир аюрведы</h1>
            </div>
          </div>
        </div><!-- end hero -->
      </div><!-- end header__bottom -->
    </div><!-- end header__wrap -->
  </div><!-- end container -->
</header>
